body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)), url(../Gallery/back.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.main
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
    
}
.match
{
    height: 640px;
}
.board
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border: 1px black solid;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(../Gallery/board.jpeg);
    cursor: pointer;
}
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12,.c13,.c14,.c15,.c16,.c17,.c18,.c19,.c20
{
    border: 2px solid black;
    
}
.emoji
{
    color: white;
    background-color:darkslategray;
    padding: 0px;
    margin: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
}
.box
{
    background-color:black;
    color: beige;
    width: 150px;
    height: 120px;
    border-radius: 20px;
    padding-left: 10px;
    text-decoration: solid;
    margin-top: 150px;
    margin-left: 50px;
    font-size: 25px;
   line-height: 30px;
}
.box1
{
    background-color:rgb(5, 102, 5);
    color: beige;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 30px;
    text-decoration: solid;
    position: relative;
    top: 450px;
    left: 50px;
    font-size: 25px;
   line-height: 30px;
   cursor: pointer;

}
.home
{
    font-size: 60px;
    position: relative;
    top: 400px;
    left: 50px;
    cursor: pointer;
}
.success
{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url(../Gallery/success.jpeg);
    background-size:cover;
    background-position:center;
    
}
.out
{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url(../Gallery/out.jpg);
    background-size:cover;
    background-position:center;
}

.music-icon {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 180px;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
}

.icon {
    font-size: 30px;
}

.hidden 
{
    display: none;
}

